services:
  aiostreams:
    image: ghcr.io/viren070/aiostreams:v2.24.0
    container_name: aiostreams
    restart: unless-stopped
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    ports:
      - 4000:4000
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    healthcheck:
      test: wget -qO- http://localhost:4000/api/v1/status
      interval: 1m
      timeout: 10s
      retries: 5
      start_period: 10s
